/*----------------------------------------------Article */


  /* 2nd attempt at article */

  .article {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(173, 49, 49, 0.556);
  }

  .article p {
    margin-bottom: 20px;
    background-color: rgba(0, 255, 162, 0.562);
  }

  .article h2 {
    margin-bottom: 20px;
    background-color: rgba(0, 255, 255, 0.506);
  }
  
  .image-container {
    text-align: center;
    background-color: rgba(128, 128, 128, 0.39);
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
  }
  
  .image-container p {
    font-style: italic;

  }

  /*---------------------------------------------------intro info */


  .image-container img {
    max-width: 100%;
    height: auto;
  }

  .snippet-container {
  
    padding: 6px;
    border: 6px;
    margin-left: auto;
    margin-right: auto;
  }



  .snippet {
    /*background-color: bisque;*/
    padding: 16px;
    border: 16px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #686868;
    display: flex;
    /* flex in not working. Will apply sizes to the snippet boxes to see if I can fix it */

  }

  /*--------------------------------------------testing a new div container */

    .test-container {
       /* width: 2600px;  
        height: 2600px; */
        background-color: #6868684e;
        display: flex; /* I have indicated the box sizes and flex worked after, 
        but testing in the old one - that still does not help.*/
    }

    .test-child {
        width: 800px;
        height: 800px;
        padding: 6px;
        border: 6px;
        border-radius: 15px;
        box-shadow: 0 0 20px 0 #686868;
    }


    /*---------------------------------------------Deleted code for article intro section */

     
  .snippet-container {
   
    padding: 6px;
    border: 6px;
  
    /* above margins are putting the container in the centre of the page*/
    display: flex; /* Put snippet divs in a row inside the container */
   justify-content: space-evenly; 
  align-items: center; 
  box-shadow: 0 0 20px 0 #686868;
    
  }

  .snippet {
    /*background-color: bisque;*/
    padding: 6px;
    border: 6px;
    border-radius: 15px;
    box-shadow: 0 0 20px 0 #686868; 
    /* flex in not working. Will apply sizes to the snippet boxes to see if I can fix it */
    display: flex;
    justify-content: baseline;
    align-items: first flex-start;
    flex-shrink: 0; /*stops the boxes with articles from shrinking when the size of the screen gets smaller*/

   
  }


  .intro-article-1, .intro-article-2, .intro-article-3 {
    max-width: 200px;
    margin: 0 auto;
    padding: 20px;
    align-self: center;
  }

  .intro-article-3 {
    align-self: center;
    width: 400px;
  }
 

  @media screen and (max-width: 1050px) {
    .snippet-container {
        size-adjust: 1000px;
        align-items: ;
    }


  }
    
  

  @media screen and (max-width:850px) {

    .snippet-container {
        width: 300px;
        height: 100%;

    }

    .snippet {
        justify-content: flex-start;
    }

  
}

@media screen and (max-width:600px) {
    .snippet {
        flex-direction: column;
    }

    .snippet {
        padding: 6px;
        border: 6px;
        border: solid;
        border-radius: 5px;
      }

    }

