@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    background-color: rgb(95, 95, 95);
    text-decoration: none;
    /* To remove the underline from links */
}

body {
    font-family: 'Open Sans', sans-serif;
    color: bisque;
}

#logo {
    font-family: 'Anton', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: bisque;

}

.navigation_container {
    border: solid;
    /* Border is to only highlight the area - remove after*/
    position: sticky;
    top: 0;
}

header {
    border: solid;
    position: sticky;
    top: 0;
    /* Sticky positon only works on header and with top 0 !*/
}