@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    /* background-color: rgb(95, 95, 95); */
    text-decoration: none;
    /* To remove the underline from links */
}

/* --------------------------------------------Basic body and logo design */

body {
    font-family: 'Open Sans', sans-serif;
}

#logo,
h2 {
    padding: 6px;
    border: 6px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 7px;
    text-transform: uppercase;
    /* BUG: This colour would override the hover rule color: bisque;
    by targeting the color for <a> under navigation class that fixes the issue--*/
    text-shadow: 0px  2px 0px  #686868;
}

/*---------------------------------------------Footer */ 

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    /* Sticky positon with bottom 0 still has the footer in a middle of a page. 
    Position fixed with left, right, bottom as 0 has a sticky property !*/
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
     box-shadow: 0 0 20px 0  #686868;
    padding: 6px;

}

footer a {
    color: white;
    padding: 6px;
    margin: 6px;


}

/* --------------------------------------------Making navigation sticky */

header {
    position: sticky;
    top: 0;
    /* Sticky positon only works on header and with top 0 !*/
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 20px 0  #686868;
}

/* --------------------------------------------Styling navigaiton bar */

.navigation {

    /* Border is to only highlight the area - remove after*/
    display: flex;
    /* puts logo and menu items in a row */
    align-items: center;
    padding: 6px;
}

.menu-container {
    display: flex;
    /* both menu and navigation must have a flex, as menu 
    has it's own divs with menu items in it that it needs to 
    align horisontally*/
    justify-content: space-evenly;

}

.item {
    padding: 6px;
    border: 6px;
}

.logo-container {
    flex-grow: 1;
    /* this puts logo on the left and menu items on the right*/
    padding: 3px;
}

.navigation a {
    color: white;
}

a:hover {
    color:  #686868;
    /* if I don't target a under navigation ID the hover rule will 
               break and not apply*/
}

.menu-container #active {
    color:  #686868
    /* This will color the menu item and show you the pauge user is currently on */
}


/* --------------------------------------------Add rule for 450px screen */



@media screen and (max-width:605px) {

    .navigation {
        flex-direction: column;
        /* this puts logo on the top and menu items on the bottom
        when it breaks at 605 all is optimised to look good at 375px*/
    }
}

/* --------------------------------------------Styling Hero/Intro section */

.intro-container {
    padding: 16px 6px 6px;
    border: 6px;
    display: flex;
    /* This makes brian and slogan appear horisontally*/
    justify-content: space-around;
    /*this will always position brian and slogan evenly no matter what screen
    width you change it to */
    align-items: center; 
    
}

.brian {
    border-radius: 50%;
    /* This makes the square image turn into a circle*/
    border-style: solid;
    border-width: 6px;
    /* creates a thinker circle around Brian also did not add padding or border
    here because I want Brian to be flush to the circle */
    border-color:  #686868
}

.slogan-container {
    padding: 6px;
    border: 6px;
    width: 507px;
    height: 307px;
    /* want to put a slogan in a box so the words don't shift together 
    when zooming in and out */
    display: flex;
    justify-content: center;
    align-items: center;
    /*Adding flex in the container to center the solgan */
}

.slogan-container h2 {
    letter-spacing: 3px;
    text-shadow: 0px  2px 0px  #686868 ; /*
    giving slogan a stenciled grafiti looking shadow to also
    match with the header and footer shadow */

    
}

@media screen and (max-width:850px) {
    .intro-container {
        flex-direction: column;
    }

    .slogan-container {
        width: 307px;
        height: 400px;
        text-align: justify;
    }
}

/* Adding rule to collapse slogan under the picture in order not to skew the text */


/**---------------------------------------------Form */
/*
form {
    background-color: grey;
}

legend {
    background-color: yellow;
}

fieldset {
    background-color: aqua;
}

.subscription-container {
    background-color: orange;
} */




.form-box-container {
    /*background-color: grey;*/
    width: 350px;
    height: 450px;
    box-shadow: 0 0 20px 0 #686868;
     /* adding a gentle black shadow around the box */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex and centre values put the form in the centre of the div */
}

#input-field {
    width: 208px;
    height: 30px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid  #686868;
    border-radius: 5px; /* gives the field edges a little bit of a curve */
    outline: none;
   
    
    
    
}

#textarea {
    border-radius:7px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid  #686868;
    
}

#submit {
    background-color:  #686868 ;
    width: 100px;
    height: 30px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid  #686868;
    border-radius: 5px;
    
}

/*----------------------------------------------Article */


  /* 2nd attempt at article */

  .article {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  .article p {
    margin-bottom: 20px;
  }

  .article h2 {
    margin-bottom: 20px;
  }
  
  .image-container {
    text-align: center;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
  }
  
  .image-container p {
    font-style: italic;

  }
